body {
  margin: 0;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

.loading-logo {
  position: absolute;
  inset-block-start: 30%;
  inset-inline-start: calc(50% - 85px);
}

.loading {
  position: absolute;
  box-sizing: border-box;
  border: 3px solid transparent;
  block-size: 55px;
  border-radius: 50%;
  inline-size: 55px;
  inset-block-start: 50%;
  inset-inline-start: calc(50% - 35px);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(1turn);
  }
}

